*{
    margin: 0;
}
/* Banner Section Styles */
.banner{
    background-image: url("/images/banner/banner2.png");
    background-size: cover;
    padding: 180px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    text-align:right;
    margin: 150px 180px 0px 900px;

}
.banner-description{
    text-align: right;
    margin: 10px 180px 20px 900px ;
}
.btn-align{
    text-align: right;
    margin-right:180px ;
}
.btn-primary{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    background:#FD6E0A ;
    border: 0;
    padding: 5px 20px;
    margin-bottom: 100px;
}